html[data-pinboard-style="dark"] {
    * {
        /* font-family: Avenir Next, Helvetica Neue, Arial, Sans; */
        font-family: Inconsolata, Hasklig, "M + 2m", Sans;
        font-family: "Fira Sans", Sans;

        --nord00: #2e3440;
        --nord01: #3b4252;
        --nord02: #434c5e;
        --nord03: #4c566a;
        --nord04: #d8dee9;
        --nord05: #e5e9f0;
        --nord06: #eceff4;
        --nord07: #8fbcbb;
        --nord08: #88c0d0;
        --nord09: #81a1c1;
        --nord10: #5e81ac;
        --nord11: #bf616a;
        --nord12: #d08770;
        --nord13: #ebcb8b;
        --nord14: #a3be8c;
        --nord15: #b48ead;
    }

    div#logo {
        // font-size: 18px !important;
        font-size: 18px;
    }

    div#logo img.pin_logo {
        // content: url("https://files.catbox.moe/1hms50.png") !important;
        content: url("https://files.catbox.moe/1hms50.png");
        width: 16px;
        height: 16px;
    }

    body {
        background-color: #2e3440;
        color: var(--nord04);
    }

    .display {
        line-height: 1.5em !important;
    }

    #banner,
    .user_navbar,
    #tag_cloud {
        font-size: 115% !important;
    }

    #banner {
        background: transparent;
    }

    .bookmark_title {
        font-size: 1.6em !important;
        color: #4183c4 !important;
    }

    div.display a {
        color: #4183c4;
    }

    a.banner_username,
    div#main_column p b a,
    div#main_column p a,
    div#top_menu a,
    div#footer a,
    a.url_display:hover,
    a.edit:hover,
    a.delete:hover,
    div#title a,
    div.service_box a {
        color: #4183c4 !important;
    }

    div#footer hr {
        border-top-color: #484848 !important;
    }

    div.small_username b a,
    div#main_column b a,
    a#login {
        color: #b48ead !important;
    }

    .bookmark,
    .private {
        margin-top: 15px !important;
    }

    a {
        color: var(--nord15);
    }

    a.url_display {
        font-size: 1.2em !important;
    }

    a.edit {
        color: #ebcb8b !important;
    }

    a.delete {
        color: #bf616a !important;
    }

    a.url_link {
        padding: 1px 2px !important;
        font-weight: 300 !important;
    }

    div.search_button p label {
        color: #888 !important;
    }

    a.bundle {
        color: #a3be8c;
        font-weight: bold;
    }

    a.bundle {
        color: #a3be8c;
        font-weight: bold;
    }

    .bookmark,
    .private {
        /* Tyler was here */
        background: #a5aab4;
        border: 1px solid #6f7787;
    }

    #tag_cloud a.tag_heading_selected {
        font-weight: bold;
        color: #d8dee9;
    }

    .user_navbar a:hover {
        color: #5e81ac;
    }

    .bookmark_title {
        font-size: 1.6em !important;
        color: #81a1c1 !important;
    }

    a.banner_username,
    div#main_column p b a,
    div#main_column p a,
    div#top_menu a,
    div#footer a,
    a.url_display:hover,
    a.edit:hover,
    a.delete:hover,
    div#title a,
    div.service_box a {
        color: #5e81ac !important;
    }

    :root {
        --logo-color: #88c0d0;
        --white: #eceff4;
    }

    #search_query_field {
        background: #d8dee9 !important;
        border-color: #e5e9f0;
    }

    .bookmark,
    .private {
        background: #434c5e;
        border: 1px solid #4c566a;
    }

    #edit_bookmark_form input {
        font-size: 90%;
        border: 1px solid #e5e9f0;
        color: #434c5e;
        margin-bottom: 3px;
    }

    #edit_bookmark_form {
        color: #434c5e;
        visibility: hidden;
    }

    a.navlink {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    #edit_bookmark_form input {
        font-size: 1.1em;
        border: var(--nord05) 1px solid;
        color: var(--nord05);
        margin-bottom: 3px;
    }

    .text {
        color: white !important;
    }

    #bulk_edit {
        color: #ebcb8b;
    }

    #url {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    #tags {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    .textarea {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    #description {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    /* tbody,
form,
tr,
table,
td, */
    input,
    textarea {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
        font-size: 1.15em;
    }

    input[type="submit"] {
        background: linear-gradient(#5e81ac, #81a1c1) !important;
        border-color: #083 !important;
        position: relative !important;
        display: inline-block !important;
        padding: 2px 3px !important;
        font-size: 13px !important;
        font-weight: 600 !important;
        line-height: 20px !important;
        white-space: nowrap !important;
        vertical-align: middle !important;
        cursor: pointer !important;
        user-select: none !important;
        border: 1px solid rgba(27, 31, 35, 0.2) !important;
        border-radius: 0.25em !important;
        color: #e2e2e2 !important;
    }

    input[type="submit"]:hover {
        background: linear-gradient(#5e81ac, #81a1c1) !important;
    }

    a.tag {
        color: #8fbcbb !important;
    }

    a.tag.selected {
        background-color: #ebcb8b !important;
    }

    .description blockquote {
        color: #e5e9f0 !important;
    }

    .description,
    div#main_column p b,
    div#main_column b,
    div#profile_main_column,
    td {
        margin: 5px 0 !important;
        font-size: 1.2em !important;
        line-height: 1.4em !important;
        color: #d8dee9 !important;
        font-weight: 400 !important;
    }

    .when,
    .edit_links {
        margin: 5px 0 !important;
        font-size: 1.1em !important;
        line-height: 1.4em !important;
        color: #d8dee9 !important;
        font-weight: 300 !important;
    }

    .star,
    a.cached {
        font-size: 200% !important;
    }

    .star,
    .cached,
    .source {
        display: none !important;
    }

    .url_link {
        background-color: #f1daad !important;
        border: 1px solid #ebcb8b !important;
        font-size: 1.1em !important;
        line-height: 1.4em !important;
        font-weight: 300 !important;
    }

    a.tag {
        font-weight: 500 !important;
        font-size: 1.115em !important;
    }

    .description,
    div#main_column p b,
    div#main_column b,
    div#profile_main_column,
    td {
        color: #e5e9f0 !important;
        font-weight: 400 !important;
    }

    #search_query_field {
        background: var(--nord05) !important;
        border-color: var(--nord06);
        color: var(--nord03);
    }

    element {
        display: inline;
        color: var(--nord01);
    }

    input.submit {
        color: var(--nord01);
    }

    #edit_form_checkboxes {
        color: var(--nord05);
    }

    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
        background-color: var(--nord08) !important;
        color: var(--nord005) !important;
    }
}
