@color00: #2e3440;
@color01: #3b4252;
@color02: #434c5e;
@color03: #4c566a;
@color04: #d8dee9;
@color05: #e5e9f0;
@color06: #eceff4;
@color07: #8fbcbb;
@color08: #88c0d0;
@color09: #81a1c1;
@color10: #5e81ac;
@color11: #bf616a;
@color12: #d08770;
@color13: #ebcb8b;
@color14: #a3be8c;
@color15: #b48ead;
@color16: #083;
@color17: rgba(27, 31, 35, 0.2);
@color18: #e2e2e2;
@color19: #484848;
@color20: #f1daad;
@color-link-a: #4183c4;
@color-login-a: #b48ead;
@color-edit: #ebcb8b;
@color-delete: #bf616a;
@color-search-button: #888;
@color-bm-bg: #a5aab4;
@color-bm-bdr: #6f7787;

html[data-pinboard-style="dark"] {
    font-family: Inconsolata, Hasklig, "M + 2m", Sans;
    font-family: "Fira Sans", Sans;

    --nord00: @color00;
    --nord01: @color01;
    --nord02: @color02;
    --nord03: @color03;
    --nord04: @color04;
    --nord05: @color05;
    --nord06: @color06;
    --nord07: @color07;
    --nord08: @color08;
    --nord09: @color09;
    --nord10: @color10;
    --nord11: @color11;
    --nord12: @color12;
    --nord13: @color13;
    --nord14: @color14;
    --nord15: @color15;
    --nord16: @color16;
    --nord17: @color17;
    --nord18: @color18;
    --nord19: @color19;
    --nord20: @color20;
    --color-link-a: @color-link-a;
    --color-login-a: @color-login-a;
    --color-edit: @color-edit;
    --color-delete: @color-delete;
    --color-search-button: @color-search-button;
    --color-bm-bg: @color-bm-bg;
    --color-bm-bdr: @color-bm-bdr;
}
html[data-pinboard-style="lite"] {
    font-family: Inconsolata, Hasklig, "M + 2m", Sans;
    font-family: "Fira Sans", Sans;

    --nord00: rgb(
        (255 - red(@color00)),
        (255 - green(@color00)),
        (255 - blue(@color00))
    );
    --nord01: rgb(
        (255 - red(@color01)),
        (255 - green(@color01)),
        (255 - blue(@color01))
    );
    --nord02: rgb(
        (255 - red(@color02)),
        (255 - green(@color02)),
        (255 - blue(@color02))
    );
    --nord03: rgb(
        (255 - red(@color03)),
        (255 - green(@color03)),
        (255 - blue(@color03))
    );
    --nord04: rgb(
        (255 - red(@color04)),
        (255 - green(@color04)),
        (255 - blue(@color04))
    );
    --nord05: rgb(
        (255 - red(@color05)),
        (255 - green(@color05)),
        (255 - blue(@color05))
    );
    --nord06: rgb(
        (255 - red(@color06)),
        (255 - green(@color06)),
        (255 - blue(@color06))
    );
    --nord07: rgb(
        (255 - red(@color07)),
        (255 - green(@color07)),
        (255 - blue(@color07))
    );
    --nord08: rgb(
        (255 - red(@color08)),
        (255 - green(@color08)),
        (255 - blue(@color08))
    );
    --nord09: rgb(
        (255 - red(@color09)),
        (255 - green(@color09)),
        (255 - blue(@color09))
    );
    --nord10: rgb(
        (255 - red(@color10)),
        (255 - green(@color10)),
        (255 - blue(@color10))
    );
    --nord11: rgb(
        (255 - red(@color11)),
        (255 - green(@color11)),
        (255 - blue(@color11))
    );
    --nord12: rgb(
        (255 - red(@color12)),
        (255 - green(@color12)),
        (255 - blue(@color12))
    );
    --nord13: rgb(
        (255 - red(@color13)),
        (255 - green(@color13)),
        (255 - blue(@color13))
    );
    --nord14: rgb(
        (255 - red(@color14)),
        (255 - green(@color14)),
        (255 - blue(@color14))
    );
    --nord15: rgb(
        (255 - red(@color15)),
        (255 - green(@color15)),
        (255 - blue(@color15))
    );
    --nord16: rgb(
        (255 - red(@color16)),
        (255 - green(@color16)),
        (255 - blue(@color16))
    );
    --nord17: rgba(
        (255 - red(@color17)),
        (255 - green(@color17)),
        (255 - blue(@color17)),
        alpha(@color17)
    );
    --nord18: rgb(
        (255 - red(@color18)),
        (255 - green(@color18)),
        (255 - blue(@color18))
    );
    --nord19: rgb(
        (255 - red(@color19)),
        (255 - green(@color19)),
        (255 - blue(@color19))
    );
    --nord20: rgb(
        (255 - red(@color20)),
        (255 - green(@color20)),
        (255 - blue(@color20))
    );
    --color-link-a: rgb(
        (255 - red(@color-link-a)),
        (255 - green(@color-link-a)),
        (255 - blue(@color-link-a))
    );
    --color-login-a: rgb(
        (255 - red(@color-login-a)),
        (255 - green(@color-login-a)),
        (255 - blue(@color-login-a))
    );
    --color-edit: rgb(
        (255 - red(@color-edit)),
        (255 - green(@color-edit)),
        (255 - blue(@color-edit))
    );
    --color-delete: rgb(
        (255 - red(@color-delete)),
        (255 - green(@color-delete)),
        (255 - blue(@color-delete))
    );
    --color-search-button: rgb(
        (255 - red(@color-search-button)),
        (255 - green(@color-search-button)),
        (255 - blue(@color-search-button))
    );
    --color-bm-bg: rgb(
        (255 - red(@color-bm-bg)),
        (255 - green(@color-bm-bg)),
        (255 - blue(@color-bm-bg))
    );
    --color-bm-bdr: rgb(
        (255 - red(@color-bm-bdr)),
        (255 - green(@color-bm-bdr)),
        (255 - blue(@color-bm-bdr))
    );
}
html[data-pinboard-style="dark"],
html[data-pinboard-style="lite"] {
    div#logo {
        // font-size: 18px;
        font-size: 18px;
    }

    div#logo img.pin_logo {
        // content: url("https://files.catbox.moe/1hms50.png");
        content: url("https://files.catbox.moe/1hms50.png");
        width: 16px;
        height: 16px;
    }

    body {
        background-color: var(--nord00);
        color: var(--nord04);
    }

    .display {
        line-height: 1.5em;
    }

    #banner,
    .user_navbar,
    #tag_cloud {
        font-size: 115%;
    }

    #banner {
        background: transparent;
    }

    div.display a {
        color: var(--color-link-a);
    }

    a.banner_username,
    div#main_column p b a,
    div#main_column p a,
    div#top_menu a,
    div#footer a,
    a.url_display:hover,
    a.edit:hover,
    a.delete:hover,
    div#title a,
    div.service_box a {
        color: var(--color-link-a);
    }

    div#footer hr {
        border-top-color: var(--nord19);
    }

    div.small_username b a,
    div#main_column b a,
    a#login {
        color: var(--color-login-a);
    }

    .bookmark,
    .private {
        margin-top: 15px;
    }

    a {
        color: var(--nord15);
    }

    a.url_display {
        font-size: 1.2em;
    }

    a.edit {
        color: var(--color-edit);
    }

    a.delete {
        color: var(--color-delete);
    }

    a.url_link {
        padding: 1px 2px;
        font-weight: 300;
    }

    div.search_button p label {
        color: var(--color-search-button);
    }

    a.bundle {
        color: var(--nord14);
        font-weight: bold;
    }

    .bookmark,
    .private {
        background: var(--color-bm-bg);
        border: 1px solid var(--color-bm-bdr);
    }

    #tag_cloud a.tag_heading_selected {
        font-weight: bold;
        color: var(--nord04);
    }

    .user_navbar a:hover {
        color: var(--nord10);
    }

    .bookmark_title {
        font-size: 1.1em;
        color: var(--color-link-a);
    }

    a.banner_username,
    div#main_column p b a,
    div#main_column p a,
    div#top_menu a,
    div#footer a,
    a.url_display:hover,
    a.edit:hover,
    a.delete:hover,
    div#title a,
    div.service_box a {
        color: var(--nord10);
    }

    :root {
        --logo-color: var(--nord08);
        --white: var(--nord06);
    }

    #search_query_field {
        background: var(--nord04);
        border-color: var(--nord05);
    }

    .bookmark,
    .private {
        background: var(--nord02);
        border: 1px solid var(--nord03);
    }

    #edit_bookmark_form input {
        font-size: 90%;
        border: 1px solid var(--nord05);
        color: var(--nord02);
        margin-bottom: 3px;
        background: var(--nord01);
    }

    #edit_bookmark_form {
        color: var(--nord02);
        visibility: hidden;
        background: var(--nord01);
    }
    #edit_bookmark_form > form > input.reset,
    #edit_bookmark_form > form > input.submit {
        color: black;
    }

    a.navlink {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    #edit_bookmark_form input {
        font-size: 1.1em;
        border: var(--nord05) 1px solid;
        color: var(--nord05);
        margin-bottom: 3px;
    }

    .text {
        color: white;
    }

    #bulk_edit {
        color: var(--nord13);
    }

    #url {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    #tags {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    .textarea {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    #description {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
    }

    /* tbody,
form,
tr,
table,
td, */
    input,
    textarea {
        background: var(--nord01);
        border: 1px solid var(--nord03);
        color: var(--nord06);
        font-size: 1.15em;
    }

    input[type="submit"] {
        background: linear-gradient(var(--nord10), var(--nord09));
        border-color: var(--nord16);
        position: relative;
        display: inline-block;
        padding: 2px 3px;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid var(--nord17);
        border-radius: 0.25em;
        color: var(--nord18);
    }

    input[type="submit"]:hover {
        background: linear-gradient(var(--nord10), var(--nord09));
    }

    a.tag {
        color: var(--nord07);
    }

    a.tag.selected {
        background-color: var(--color-edit);
    }

    .description blockquote {
        color: var(--nord05);
    }

    .description,
    div#main_column p b,
    div#main_column b,
    div#profile_main_column,
    td {
        margin: 5px 0;
        font-size: 1.2em;
        line-height: 1.4em;
        color: var(--nord04);
        font-weight: 400;
    }

    .when,
    .edit_links {
        margin: 5px 0;
        font-size: 1.1em;
        line-height: 1.4em;
        color: var(--nord04);
        font-weight: 300;
    }

    .star,
    a.cached {
        font-size: 200%;
    }

    .star,
    .cached,
    .source {
        display: none;
    }

    .url_link {
        background-color: var(--nord20);
        border: 1px solid var(--nord13);
        font-size: 1.1em;
        line-height: 1.4em;
        font-weight: 300;
    }

    a.tag {
        font-weight: 500;
        font-size: 1.115em;
    }

    .description,
    div#main_column p b,
    div#main_column b,
    div#profile_main_column,
    td {
        color: var(--nord05);
        font-weight: 400;
    }

    #search_query_field {
        background: var(--nord05);
        border-color: var(--nord06);
        color: var(--nord03);
    }

    element {
        display: inline;
        color: var(--nord01);
    }

    input.submit {
        color: var(--nord01);
    }

    #edit_form_checkboxes {
        color: var(--nord05);
    }

    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
        background-color: var(--nord08);
        color: var(--nord05);
    }
    .settings_heading {
        background-color: var(--nord02);
    }

    #profile_main_column {
        background-color: var(--nord01);
        display: grid;
        grid-auto-flow: column;
        align-content: space-between;
        justify-content: space-between;
        align-items: stretch;
        justify-items: start;
    }
    #profile_right_column,
    #profile_left_column {
        width: 350px;
        border: 1px solid var(--color-bm-bdr);
        padding: 0.2em;
    }
    div.display a.copy_link,
    div.display > a.bookmark_count {
        font-family: helvetica, sans-serif;
        word-wrap: break-word;
    }
    div.display a.copy_link {
        color: var(--color-link-a);
        font-size: 0.7em;
    }
    div.display > a.bookmark_count {
        color: var(--nord07);
        font-size: 0.9em;
    }
}
